/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: white;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}
/* src/components/App.js */
.App {
  text-align: center;
  border: 1px solid rgb(240, 240, 240);
  padding: 10px;
  width: 40%;
  margin: 10px auto 0 auto;
  border-radius: 5px;
}

/* src/components/TodoList.js */
.TodoList {
  padding: 2rem 3rem 3rem;
  max-width: 100%;
  background: #ff6666;
  color: white;
  box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}
.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.TodoList h1 span {
  display: block;
  font-size: 0.8rem;
  margin-left: 3px;
  margin-top: 0.2rem;
}

/* src/components/todo/Todo*/
.Todo {
  display: flex;
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.TodoTask {
  position: relative;
}
.TodoTask.completed {
  opacity: 0.6;
}
.TodoTask.completed:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: white;
  animation: strikeItem 0.5s ease-out 0s forwards;
}
@keyframes strikeItem {
  to {
    width: calc(100% + 1rem);
  }
}
.TodoButtons {
  flex-shrink: 0;
  padding-left: 0.7em;
}
.TodoButtons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  cursor: pointer;
  color: white;
}
.TodoEditForm {
  display: flex;
  flex-wrap: wrap;
}
.TodoEditForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.TodoEditForm input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
}
.TodoForm input:focus {
  outline: 0;
}
.TodoEditForm button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}
.TodoEditForm button:hover {
  background: #ff5e5e;
}
.TodoEditForm input,
.TodoEditForm button {
  font-family: 'Quicksand', sans-serif;
  height: 3rem;
}

/* src/components/todos/TodoForm */
.TodoForm {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.TodoForm label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.TodoForm input {
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 1em 1.5em;
  font-size: initial;
}
.TodoForm button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}
